.app {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.home {
  display: flex;
  width: 100%;
  flex: 1;
}

.custom-editor-style {
  height: 100%;
}

.CodeMirror {
  height: 100%;
}

.list {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  padding-bottom: 25px;
  font-size: 1.25em;
}

.category {
  padding-left: 10px;
  font-size: 2rem;
}

.heading-wrapper {
  display: flex;
}

.vertical-border {
  height: 25px;
  width: 10px;
  margin-left: 10px;
  background-color: brown;
  margin-top: 12px;
}

.save-button {
  /* background-color: coral;
    color: white; */
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.copy-button {
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.download-button {
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.result-heading{
  font-size: 1.5em;
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.error-heading{
  font-size: 1.5em;
  display: flex;
  align-items: center;
  padding: 10px 0px 20px 20px;
}

.result-container{
  padding: 0px 10px;
  height: 80%;
}

.result-heading-wrapper{
  display: flex;
  align-items: center;
  padding: 10px 0px 20px 20px;
}

.no-run-text{
  display: flex;
  height: 70%;
  justify-content: center;
  align-items: center;
  font-size: 1.25em;
}

/* CodeMirror */
.CodeMirror-sizer {
  min-width: auto !important;
}

.ant-table-thead > tr > th, .ant-table-tbody > tr > td, .ant-table tfoot > tr > th, .ant-table tfoot > tr > td {
  padding: 5px 5px !important;
}

.ant-btn-primary {
  border-color: #3ba6d2 !important;
  background: #3ba6d2 !important;
}

.ant-btn-primary:hover {
  border-color: #50ccea !important;
  background: #50ccea !important;
}